# Stock DB using yfinance and SQLite

In [2]:
import sqlalchemy
import pandas as pd
import yfinance as yf

In [4]:
wiki = 'https://en.wikipedia.org/wiki'

In [6]:
tickersSenx = pd.read_html(f"{wiki}/BSE_SENSEX")[1].Symbol.to_list()
tickersDow = pd.read_html(f"{wiki}/Dow_Jones_Industrial_Average")[1].Symbol.to_list()

In [8]:
def get_data(tickers):
    data = []

    for ticker in tickers:
        data.append(yf.download(ticker).reset_index())
    
    return data

In [9]:
india, us = get_data(tickersSenx), get_data(tickersDow)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [12]:
def createengine(name):
    engine = sqlalchemy.create_engine(f"sqlite:///{name}.db")
    return engine

In [13]:
india_engine, us_engine = createengine("india"), createengine("usa")

In [15]:
def tosql(frames, symbols, engine):
    for frame, symbol in zip(frames, symbols):
        frame.to_sql(symbol, engine, index=False)
    print("Successfully loaded data")

In [16]:
tosql(india, tickersSenx, india_engine)
tosql(us, tickersDow, us_engine)

Successfully loaded data
Successfully loaded data

In [17]:
pd.read_sql("AAPL", us_engine)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099319,469033600
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094137,175884800
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087228,105728000
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089387,86441600
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091978,73449600
...,...,...,...,...,...,...,...
10824,2023-11-17,190.250000,190.380005,188.570007,189.690002,189.690002,50922700
10825,2023-11-20,189.889999,191.910004,189.880005,191.449997,191.449997,46505100
10826,2023-11-21,191.410004,191.520004,189.740005,190.639999,190.639999,38134500
10827,2023-11-22,191.490005,192.929993,190.830002,191.309998,191.309998,39617700
10828,2023-11-24,190.869995,190.899994,189.250000,189.970001,189.970001,24048300